<template>
  <Layout>
    <!-- <div id="app">
      <h1>test</h1>
      <div v-for="menus in siteMenus">
          Id : {{ menus.id }}
          <br/>
      </div>
    </div>-->

    <div id="app-4">
      <h1>test</h1>
      <ol>
        <!-- <li v-for="todo in todos">{{ todo.text }}</li> -->
        {{message}}
      </ol>
    </div>

    <h1>Welcome to my blog :)</h1>
    <ul class="post-list">
      <li v-for="{ node } in $page.allWordPressPost.edges" :key="node.id">
        <Post :post="node"/>
      </li>
    </ul>
    <Pager :info="$page.allWordPressPost.pageInfo"/>
  </Layout>
</template>

<page-query>
query Home ($page: Int) {
  allWordPressPost (page: $page, perPage: 10) @paginate {
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        id
        title
        path
        excerpt
      }
    }
  }
}
</page-query>

<script>
import { Pager } from "gridsome";
import Post from "~/components/Post.vue";

export default {
  components: {
    Pager,
    Post
  },
  metaInfo: {
    title: "Welcome to my blog :)"
  }
};


// var dataURL = 'http://dd-test.loc:8888/wp-json/menus/v1/menus/main';

// var App = new Vue({
//   el: '#app',
//   data: {
//     siteMenus: [] // initialize empty array
//   },
//   mounted() { // when the Vue app is booted up, this is run automatically.
//     var self = this // create a closure to access component in the callback below
//     $.getJSON(dataURL, function(data) {
//       self.siteMenus = data.items;
//     });
//   }
// })

</script>
