//@font-face {
//  @include font-face('cantinela');
//}
////
//@font-face {
//  @include font-face('ComicSansMS');
//}

// @font-face {
//   font-family: 'cantilena';
//   src: url('fonts/cantilena/cantilena.eot?#iefix') format('embedded-opentype'),  url('fonts/cantilena/cantilena.woff') format('woff'), url('fonts/cantilena/cantilena.ttf')  format('truetype'), url('fonts/cantilena/cantilena.svg#fonts/cantilena/cantilena') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

//@font-face {
//  @include font-face('Montserrat-Regular');
//}
//
//@font-face {
//  @include font-face('Tomatoes');
//}