.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-center-force {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

.hidden {
  display: none;
}

.hidden-2 {
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.visible-2 {
  height: auto;
  visibility: visible;
}

.visible {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-hidden-forced {
  overflow: hidden !important;
  &.vc_row {
    overflow: hidden !important;
  }
}

.overflow-visible {
  overflow: visible;
}

.italic {
  font-style: italic;
}

.hidden-desktop {
  display: none;
  @media only screen and (max-width : $responsive-breakpoint) {
    display: block;
  }
}

.hidden-mobile {
  display: block;
  @media only screen and (max-width : $responsive-breakpoint) {
    display: none;
  }
}

.hidden-mobile-strict {
  display: block !important;
  @media only screen and (max-width : $responsive-breakpoint) {
    display: none !important;
  }
}

.mobile-padding-left-default {
  @media only screen and (max-width : 480px) {
    > .vc_column-inner {
      padding-left: 20px !important;
    }
  }
}

.max-width-600 {
  max-width: 600px;
  //margin: 0 auto;
  //float: none !important;
}

.z-index {
   z-index: 99;
 }

.z-index-1 {
  z-index: 1;
}


.z-index-negative {
  z-index: -1;
}

