html body {
  a {
    cursor: pointer;
  }
  .wpb_text_column {
    h2 {
      font-family: $font-family__1;
      text-transform: uppercase;
      font-size: $font-size__3;
    }
    p {
      margin: 20px 0;
      &:first-of-type {
        margin-top: 0;
      }
    }
    ul {
      margin: 20px 0;
      list-style: none;
      li {
        font-size: $font-size__4;
        padding-left: 15px;
        &:before {
          content: "•";
          left: -15px;
          position: relative;
        }
      }
    }
    &.list-color-white {
      ul {
        li {
          &:before {
            color: #fff;
          }
        }
      }
    }
  }
}

.post {
  ul {
    margin: 10px 0;
  }
  ul li {
    font-size: $font-size__4;
    color: #4d4d4f;
  }
  h2, h3 {
    font-family: $font-family__1;
  }
}

.single {
  .post {
    p {
      font-size: $font-size__7;
    }
    ul li, ol li {
      font-size: $font-size__7;
    }
    .eltd-post-text {
      a {
        color: $color__brand-green;
      }
    }
  }

}