// Colors
$color__brand-green: #009583;
$color__brand-dark-grey: #4d4d4f;
$color__brand-light-grey: #929292;

// Fonts
$font-family__1: 'Montserrat', sans-serif;
$font-family__2: 'cantilena', sans-serif;

$font-size__1: 13px;
$font-size__2: 220px;
$font-size__3: 45px;
$font-size__4: 18px;
$font-size__5: 400px;
$font-size__6: 140px;
$font-size__7: 16px;
$font-size__8: 35px;

// Breakpoints
$responsive-breakpoint: 736px;